/* WCI Styles */

// VARIABLES, MIXINS, ETC

@color1: rgb(20,71,52);
@color2: lighten(@color1, 10%);
@color3: #FFFFFF;
@color4: rgb(188,180,52);
@color5: rgb(0,31,94);
@color6: rgb(117,37,61);
@color7: rgb(220,124,44);
@color8: lighten(@color6, 10%);
@color9: rgb(110,140,156);
@color10: lighten(@color9, 10%);

.modal-btn-states {
  background-color: @color7;
  color: @color3;
  border: none;
}




// GLOBAL CLASSES

h3, h4, h5 {
  text-align: center;
  margin: 0 auto;
  padding: 0.5%;
}


.address {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.vert-center {
  position: absolute;
  top: 18%;
  left: 5%;
}

.pad {
  padding: 2% 0;
}

.pad-top {
  padding-top: 1%;
}

.pad-bottom {
  padding-bottom: 1%;
}

.mid-center {
  width: 80%;
  margin: 0 auto;
}

.narrow-center {
  width: 65%;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  background-color: @color8;
  color: @color3;
  margin: 0;
  padding: 1% 0;
  
  h1 {
    margin: 0 auto;
  }
  small {
    color: @color3;
  }
}

.centered-header {
  text-align: center;
  margin: 3% auto;
}

//.center {
//  text-align: center;
//  width: 45%;
//}



// GLOBAL STYLES

* {
//  outline: 1px solid red;
  box-sizing: border-box;
}


html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  height: 100%;
}

h3 {
  margin: 0;
}

.navbar {  
  margin-bottom: 0;
  padding: 0 4%;
  background-color: @color6;
  height: 80px;
  border-radius: 0;
  
  .navbar-header {
    .icon-bar {
      background-color: @color3;
    }
  }
  
  .nav {
    height: 70px;
    padding-top: 0.75%;
    
    a {
      color: @color3;
      height: 60px;
      margin-top: 5px;

      &:hover, &:focus {
        color: @color7;
        background-color: @color6;
      }
    }
    
    .open {
      a {
        background-color: transparent;        
        &:hover {
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
      }
    }
  
    .dropdown-menu {
      width: 100%;   
      li {
        a:hover {
          background-color: transparent;
          background-image: none;
        }
      }
    }
    
    .drop-links {
      color: @color1;
      height: 2em;
      word-wrap: normal;
      
      &:hover, &:focus {
        color: @color7;
      }      
      
    }
  }
    
  a.navbar-brand {
    height: 60px;
  }
  
  .logo {
    margin-top: -3%;
    width: 175px;
    height: auto;
  }
}


.hero-unit {
  background-image:url(/images/madison2.jpg);
  background-size:cover;
  background-color: #EEEEEE;
  height:500px;  
  border-bottom: 1px solid @color1;
  
  h1 {
    color: @color3;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 10%;
  }
}



// items below hero
.home {
  width: 100%;
  background-color: @color2;
  margin: 0;
  padding: 2% 10%;
  
  .row {
    width: 80%;
    margin: 0 auto;
  }
  .col-md-3 {
    padding: 0;
    width: 25%;
    
    &:first-child {
      width: 22%;
    }
    
    &:last-child {
      width: 27%;
    }
    
//    img {
//      max-width: 180px;
//      height: auto;
//    }
  }
}



.bottom {
  padding: 10px 0;
  ul {
    display: table;
    margin: 0 auto;
    li {
      list-style: none;
      display: inline-block;
      padding-right: 20px;
    }
  }
}


.footer {
  width: 100%;
  background-color: rgb(20,71,52);
  padding: 0;
  margin: 0;
  
  .footer-cols {
    width: 80%;

    .address {
        a {
          color: white;
          
          &:focus, &:hover {
            color: @color7;
            text-decoration: none;
          }
        }
      }
    
    .col-md-3 {
      color: @color3;
      
      img {
        width: 100%;
        height: auto;
        padding-bottom: 3%;
      }
      
      .footer-socials {
        i {
          font-size: 2em;
          color: @color3;
          
          &:focus, &:hover {
            color: @color7;
            text-decoration: none;
          }
        } 
      } 
      
      .footer-staff {
        margin-top: 3%;
        a {
          color: @color3;
          text-decoration: none;          
          
          &:focus, &:hover {
            color: @color7;
            text-decoration: none;
          }
        }
      }
      
      p {
        margin: 0;
        padding:2px;
        font-size: 0.8em;
      }
    }     
  }
}




// MISSION ===========================

.filler-pics {
  width: 100%;
  height: auto;
}

.mission-text {
  font-size: 1.1em;
  padding-bottom: 2%;
}

.mission-header {
  margin-top: 1%;  
}

#mission {
  margin-bottom: 2%;
}

#vision {
  margin-bottom: 2%;
}

#values {
  margin-bottom: 2%;
}


// BUSINESS SERVICES =================

.bus-serv-contacts {
  padding: 0;
  
  ul {
    padding: 0 0 3% 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: @color5;

    &:focus, &:hover {
      color: @color7;
      text-decoration: none;
    }
  }
}



// ANNUAL REPORTS ====================
.report {
  img {
    width: 100%;
    height: auto;
    margin: 8% 0;
  }
}


// SUCCESS STORIES====================
.story {
  img {
    width: 100%;
    height: auto;
    margin: 5% 0;
  }
}


// BOARD =============================

.board {
  img {
    width: 100%;
    height: auto;
    margin: 5% 0;
  }
  
  .extra {
    padding: 5% 0;
  }
}


// JOB SEEKER SERVICES
.job-seekers {
  img {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 2%;
  }
}

// VOLUNTEER ==========================

.volunteer-link {
  a {
    text-align: center;
  }
}


// PROGRAM MODALS ======================


.narrow-list-item {
  width: 50%;
}

.narrow-list-group {
  width: 50%;
  margin: 0 auto;
}


.modal-header {
  background-color: @color6; 
  color: @color3;
  border-bottom: 5px solid @color8;
  
  .close {
    color: @color3;
    opacity: 1;
  }
}

.modal-footer {
  background-color: @color1; 
  border-top: 5px solid @color2;
}

.prog-btn {
  background-color: @color9;
  color: @color3;
  border-radius: 0;
  border: none;
  margin: 15px;  
  
  &:hover {
    .modal-btn-states;
  }
  &:focus {
    .modal-btn-states;
  }
}
